@import "config";
@import "utilities";
@import "buttons";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.showcase {
  background-color: $primary-color;
  color: #fff;
  height: 600px;

  a {
    color: #fff;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      padding: 15px;
    }

    a:hover {
      color: $secondary-color;
    }
  }

  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 50%;
    }

    h1 {
      font-size: 50px;
      line-height: 1.2;
    }

    p {
      margin: 20px 0;
    }
  }
}
