.container {
  overflow: hidden;
}

.text {
  animation-name: slidein;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: 3;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
